<h1>Liste des messages envoyés</h1>

{% for env in envoyes %}
	<p>
		<a style="text-decoration:none; color:black;" href="{{ path('my_app_messagerie_detailsmessages', { 'id': id, 'message' : env.id }) }}">
		Vous avez envoyé un fichier à<br>
		{{ env.destinataire }}<br>
		{{ env.path }}<br>
		{{ env.objet }}<br>
		</a>
	</p>
{% else %}
	<p>0 messages envoyés.</p>
{% endfor %}
<br>
<br>
<a href="{{ path('my_app_messagerie_envoyer', { 'id': id }) }}">Envoyer un message</a><br>
<a href="{{ path('my_app_messagerie_listerenvoyes', { 'id': id }) }}">Liste des messages envoyés</a><br>
<a href="{{ path('my_app_messagerie_listerrecus', { 'id': id }) }}">Liste des messages reçus</a>