<h1>Liste des messages reçus</h1>

{% for msg in messages %}
<a href="{{ path('my_app_messagerie_detailsmessages', { 'id': id, 'message' : msg.id }) }}">
	<p>
		{{ msg.objet }}<br>
		{{ msg.expediteur.mail }}<br>
		<a href={{ path('my_app_messagerie_download', { 'id': id, 'path' : msg.path }) }}>{{ msg.path }}</a><br>
	</p>
</a>
{% else %}
	<p>0 messages reçus.</p>
{% endfor %}

<a href="{{ path('my_app_messagerie_envoyer', { 'id': id }) }}">Envoyer un message</a><br>
<a href="{{ path('my_app_messagerie_listerenvoyes', { 'id': id }) }}">Liste des messages envoyés</a><br>
<a href="{{ path('my_app_messagerie_listerrecus', { 'id': id }) }}">Liste des messages reçus</a>
<a href="{{ path('my_app_messagerie_parrainer', { 'id': id }) }}">Parrainer un ami</a>