<h1>Envoyer un message de parrainnage</h1>

<form action="" method="post" {{ form_enctype(form)}}>
	{{ form_widget(form) }}
	<input type="submit" value="Envoyer"/>
</form>

<br>
<br>
<a href="{{ path('my_app_messagerie_envoyer', { 'id': id }) }}">Envoyer un message</a><br>
<a href="{{ path('my_app_messagerie_listerenvoyes', { 'id': id }) }}">Liste des messages envoyés</a><br>
<a href="{{ path('my_app_messagerie_listerrecus', { 'id': id }) }}">Liste des messages reçus</a>
<a href="{{ path('my_app_messagerie_parrainer', { 'id': id }) }}">Parrainer un ami</a>